<h1>La liste des elements empruntés </h1>

<!--
<div id="documents">
    <table class="table table-dark table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Genre</th>
          <th scope="col">Affichage</th>
          <th scope="col">Modification</th>
          <th scope="col">Suppression</th>
          <th scope="col">Emprunte</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <th scope="row"><%= document.id %></th>
            <td><%= document.titre %></td>
            <td><%= document.genre %></td>
            <td><%= link_to "Afficher", document, class:"btn btn-success" %></td>
            <td><%= link_to "Modifier", edit_document_path(document), class:"btn btn-secondary" %></td>
            <td><%= button_to "Rendre", @document, method: :delete, class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
</div>
-->